extends layout
block title 
    title The Rage | About
block append links
    link(rel='stylesheet' href='/css/about.css')
block content
    main
        .banner
            img(src='https://res.cloudinary.com/dp3caqqpi/image/upload/q_auto/v1648421657/therage/rush-min_lejbdc.jpg' alt='Rage')
        section.overview
            .container
                .overview-grid
                    .overview-head(data-aos='fade-right')
                        p about
                        h1 the rage
                    .overview-detail
                        p
                            | THE RAGE is a game created by clever programmers at the college of sciences (COSSA) with the goal of uniting students and relieving tension from the semester&rsquo;s workload.
                        p
                            | The game is an exciting way of doing something really fun for a short period time as well as earning something great and providing you with pure ecstasy.
                        p We have been calm for too long, it&apos;s now time for THE RAGEEE!.
        section.the-team
            .container
                h1.team-h1(data-aos='fade-right') Meet the team
                .the-team-grid
                    .team-member(data-aos='fade-left')
                        .team-image
                            img(src='https://res.cloudinary.com/dp3caqqpi/image/upload/q_auto/v1648421649/therage/tomiwa_jrpqlj.jpg' alt='Ibukun Tomiwa')
                        .team-detail
                            h1 Ibukun Tomiwa
                            p Project Manager
                            p
                            | Tomiwa is a natural team leader. He put together and managed the team needed to succesfully deliver the project.
                    .team-member(data-aos='fade-right')
                        .team-image
                            img(src='https://res.cloudinary.com/dp3caqqpi/image/upload/q_auto/v1648421651/therage/veed-3_hjqbsy.jpg' alt='David Johnson')
                        .team-detail
                            h1 David Johnson
                            p Web Developer
                            p
                            | David uses web and JavaScript technologies to build functional web applications. He was responsible for developing the website to register users for the game.
                    .team-member(data-aos='fade-left')
                        .team-image
                            img(src='https://res.cloudinary.com/dp3caqqpi/image/upload/q_auto/v1648421657/therage/pezi_lwf29q.jpg' alt='Udomah Pezi')
                        .team-detail
                            h1 Udomah Pezi
                            p App/Game developer
                            p
                            | Pezi utilizes the C# programming language and the Unity engine to build immersive mobile gaming applications. He was in charge of developing and deploying The Rage app.
                    .team-member(data-aos='fade-right')
                        .team-image
                            img(src='https://res.cloudinary.com/dp3caqqpi/image/upload/q_auto/v1648421664/therage/kdavid_wd6vic.jpg' alt='Echatah King-David')
                        .team-detail
                            h1 Echatah King-David
                            p App Developer
                            p
                            | King David uses Java programming language to write android applications. He assisted in the development of The Rage app.
                    .team-member(data-aos='fade-left')
                        .team-image
                            img(src='https://res.cloudinary.com/dp3caqqpi/image/upload/q_auto/v1648421657/therage/lota_jm1ysr.jpg' alt='Micheal Lotanna')
                        .team-detail
                            h1 Micheal Lotanna
                            p UI/UX Designer
                            p
                            | Micheal has an eye for good graphics and user experience. He designed the logo and user interface for The Rage application.
